.button-group {
  display: flex;
  justify-content: flex-start;
}

.button-group__button {
  margin-right: 15px;
}

.button {
  display: block;
  font-size: 0.875rem;
  padding: 14px 20px 12px 20px;
}

.button_primary {
  background-color: #30AE63;
}

.button_primary:hover {
  background-color: #50DB88;
}

.button_secondary {
  border: solid 2px #30AE63;
  background-color: transparent;
}

.button_secondary:hover {
  border: none;
  background-color: #30AE63;
}

.button_primary[disabled] {
  
}

.button_secondary[disabled] {
  
}

.button_small {
  padding: 10px 15px;
}