.button {
  display: block;
  font-size: 0.875rem;
  padding: 14px 20px 12px 20px;
}

.button_primary {
  background-color: #30AE63;
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
}

.button_primary:hover {
  background-color: #50DB88;
}

.button_secondary {
  border: solid 2px #30AE63;
  background-color: transparent;
}

.button_secondary:hover {
  border: none;
  background-color: #30AE63;
}

.button_primary[disabled] {
  
}

.button_secondary[disabled] {
  
}

.button_small {
  padding: 10px 15px;
}

.button-with-icon {
  padding-left: 45px;
  background-image: url("../img/button-icon.png");
  background-repeat: no-repeat;
  background-position: 16px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
}

.button-with-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}