.dropdown {
  display: flex;
  
  position: relative;
  min-height: 52px;
  z-index: 1;
  border: solid 2px #DFE3E6;
  border-radius: 3px;
  .dropdown__list {
    position: absolute;
    display: flex;
    width: 100%;
    background-color: #FFF;
    flex-direction: column;
    border: none;
    border-radius: 3px;
    z-index: 2;
  }



  .dropdown__option {
    display: none;
    padding: 16px;
    order: 2;
    position: relative;

  }

  .dropdown__option:hover {
    background-color: #30AE63;
    color: #fff;
    cursor: pointer;
  }

  .dropdown__option_active {
    display: block;
    order: 1;
    background-image: url("../img/triangle-icon.png");
    background-repeat: no-repeat;
    background-position: right 15px top 24px;
  }

  .dropdown__option_active:hover {
    background-color: transparent;
    color: #000;
  }
}

.dropdown_open {
  border: none;
  
  .dropdown__list {
    position: absolute;
    display: flex;
    width: 100%;
    background-color: #FFF;
    flex-direction: column;
    border: solid 2px #30AE63;
  }



  .dropdown__option {
    display: block;
  }

  .dropdown__option_active {
    border-bottom: solid 2px #DFE3E6;
  }

}

.dropdown_disabled {
  cursor: default;
  opacity: 0.5;
  .dropdown__option:hover {
    background-color: none;
  }
}


