<div class="best-offers">
  <div class="best-offers__room-list">
    <div class="best-offers__room-card">
    <img src="img/room.png" alt="" class="best-offers__room-card-img">
    <h3 class="best-offers__room-card-price">7 800 грн</h3>
    <span class="best-offers__room-card-details">2 комн.  •  30 кв.м.</span>
    <p class="best-offers__room-card-map-point">
      Политехнический институт
    </p>
  </div>
  <div class="best-offers__room-card">
    <img src="img/room.png" alt="" class="best-offers__room-card-img">
    <h3 class="best-offers__room-card-price">7 800 грн</h3>
    <span class="best-offers__room-card-details">2 комн.  •  30 кв.м.</span>
    <p class="best-offers__room-card-map-point">
      Политехнический институт
    </p>
  </div>
  <div class="best-offers__room-card">
    <img src="img/room.png" alt="" class="best-offers__room-card-img">
    <h3 class="best-offers__room-card-price">7 800 грн</h3>
    <span class="best-offers__room-card-details">2 комн.  •  30 кв.м.</span>
    <p class="best-offers__room-card-map-point">
      Политехнический институт
    </p>
  </div>
  <div class="best-offers__room-card">
    <img src="img/room.png" alt="" class="best-offers__room-card-img">
    <h3 class="best-offers__room-card-price">7 800 грн</h3>
    <span class="best-offers__room-card-details">2 комн.  •  30 кв.м.</span>
    <p class="best-offers__room-card-map-point">
      Политехнический институт
    </p>
  </div>
  </div>
  <a href="#" class="best-offers__button-more">
      Смотреть лучшие ценовые предложения
    </a>
</div>