<div class="filters-card">
  <div class="filters-card__form">
    <h2 class="filters-card__header">Недвижимость возле метро</h2>

    <div class="filters-card__search-type">
      <a href="" class="filters-card__search-type-link filters-card__search-type-link_active">Квартиры</a>
      <a href="" class="filters-card__search-type-link">Дома</a>
      <a href="" class="filters-card__search-type-link">Офисы</a>
    </div>

    <div class="dropdown filters-card__select-form">
      <div class="dropdown__list">
        <div class="dropdown__option dropdown__option_active">Option one</div>
        <div class="dropdown__option">Option two</div>
        <div class="dropdown__option">Option three</div>
        <div class="dropdown__option">Option four</div>
      </div>
    </div>

    <a class="button button_primary filters-card__button">
      Показать результаты поиска
    </a>
  </div>
  <div class="filters-card__image">
    <img src="img/metro.png" alt="">
  </div>
</div>