<header class="header">
  <div class="header__container">
    <nav class="navigation">
      <ul class="navigation__list">
        <li>
          <a href="#" class="navigation__logo"><img src="img/logo.png" alt=""></a>
        </li>
        <li>
          <a href="#" class="navigation__link navigation__link_active">Аренда</a>
        </li>
        <li>
          <a href="#" class="navigation__link">Продажа</a>
        </li>
        <li>
          <a href="#" class="navigation__link">Посуточно</a>
        </li>
        <li>
          <a href="#" class="navigation__link navigation__link-more">Еще</a>
        </li>
      </ul>
    </nav>
    <div class="hamburger-menu">
      <span class="hamburger-menu__line"></span>
      <span class="hamburger-menu__line"></span>
      <span class="hamburger-menu__line"></span>
    </div>
    <div class="button-group" style="background-color: #30AE63">
      <a href="#" class="button-group__button button button-with-icon">Разместить объявление</a>
      <a href="#" class="button-group__link">Войти</a>
    </div>
  </div>
</header>
