<div class="footer">
    <div class="footer-box">
        <div class="flex-row flex-between footer-box__information ">
            <div class="footer-box__information-metrovka">
                <h2>Metrovka</h2>
                <a href="" class="footer-box__information__link">О компании</a>
                <a href="" class="footer-box__information__link">Пресса о нас</a>
                <a href="" class="footer-box__information__link">Пользовательское соглашение</a>
                <a href="" class="footer-box__information__link">Карта сайта</a>
                <a href="" class="footer-box__information__link">Помощь</a>
            </div>
            <div class="footer-box__information-parthners">
                <h2>Партнерство</h2>
                <a href="" class="footer-box__information__link">Как разместить объявление</a>
                <a href="" class="footer-box__information__link">Инструменты продвижения</a>
                <a href="" class="footer-box__information__link">Правила заполнения объявлений</a>
            </div>
            <div class="footer-box__information-more">
                <h2>Узнате больше</h2>
                <a href="" class="footer-box__information__link">Бонусная программа Bonus+</a>
                <a href="" class="footer-box__information__link">Telegram Metrovka Bot</a>
                <a href="" class="footer-box__information__link">Как работает поиск</a>
                <a href="" class="footer-box__information__link">Как пользоваться избранным</a>
            </div>
            <div class="footer-box__information-contacts">
                <h2>Контакты</h2>
                <div class="flex-row flex-between footer-box__information-contacts__icons">
                    <i class="fa fa-facebook facebook_icon"></i>
                    <i class="fa fa-vk"></i>
                    <i class="fa fa-instagram"></i>
                </div>
                <div class="footer-box__information-contacts__address">
                    <p class="footer-box__information-contacts__address-street">Ул. Жилянская, 37</p>
                    <p class="footer-box__information-contacts__address-city">Киев, 01033</p>
                </div>
                <p class="footer-box__information-contacts__email">info@metrovka.ua</p>

                <div class="button button_primary footer-box__information-contacts__button"> Оставить заявку </div>


            </div>
        </div>
        <img src="img/footer_logo.png" alt="" class="footer-box__logo">
    </div>
</div>