<div class="header">
    <div class="flex-row header__navigation">
        <a class="header__navigation__logo" href=""><img class="logo logo_header" src="img/header__logo.png" alt=""></a>
        <ul class="flex-row flex-between header__navigation__links">

            <li class="header__navigation__item">
                <a class="header__link" href="./index.html">Аренда</a>
            </li>

            <li class="header__navigation__item header__navigation__item_bigger">
                <a class="header__link" href="">Продажа</a>
            </li>

            <li class="header__navigation__item header__navigation__item_bigger">
                <a class="header__link" href="">Посуточно</a>
            </li>

            <li class="header__navigation__item">
                <i class="icon fa fa-circle"></i>
                <i class="icon fa fa-circle"></i>
                <i class="icon fa fa-circle"></i>
                <a class="header__link" href="">Ещё</a>
            </li>
        </ul>
        <div class="header__navigation__buttons flex-row">

            <div class="header__navigation__buttons__publish header__navigation__buttons__text">
                <a class="verticar-center"> <i class="fa fa-plus-circle"></i> Разместить объявление</a>
            </div>
            <div class="header__navigation__buttons__enter header__navigation__buttons__text">
                <a>Войти</a>
            </div>

        </div>

    </div>


</div>