<div class="offers">
<h2 class="offers__header">Лучшие предложения в Киеве</h2>
  <div class="offers__room-list">
    <div class="offers__room-card">
    <img src="img/room.png" alt="" class="offers__room-card-img">
    <h3 class="offers__room-card-price">7 800 грн</h3>
    <span class="offers__room-card-details">2 комн.  •  30 кв.м.</span>
    <p class="offers__room-card-map-point">
      Политехнический институт
    </p>
  </div>
  <div class="offers__room-card">
    <img src="img/room.png" alt="" class="offers__room-card-img">
    <h3 class="offers__room-card-price">7 800 грн</h3>
    <span class="offers__room-card-details">2 комн.  •  30 кв.м.</span>
    <p class="offers__room-card-map-point">
      Политехнический институт
    </p>
  </div>
  <div class="offers__room-card">
    <img src="img/room.png" alt="" class="offers__room-card-img">
    <h3 class="offers__room-card-price">7 800 грн</h3>
    <span class="offers__room-card-details">2 комн.  •  30 кв.м.</span>
    <p class="offers__room-card-map-point">
      Политехнический институт
    </p>
  </div>
  <div class="offers__room-card">
    <img src="img/room.png" alt="" class="offers__room-card-img">
    <h3 class="offers__room-card-price">7 800 грн</h3>
    <span class="offers__room-card-details">2 комн.  •  30 кв.м.</span>
    <p class="offers__room-card-map-point">
      Политехнический институт
    </p>
  </div>
  </div>
  <a href="#" class="offers__button-more">
      Смотреть лучшие ценовые предложения
    </a>
</div>