<div class="search">
  <div class="container search__container">
    <h1 class="search__header">Поиск недвижимости в Украине</h1>
    <div class="search__city-form">
      <p class="search__form-label">Выберите город</p>
      <div class="dropdown search__city-select">
        <div class="dropdown__list">
          <div class="dropdown__option dropdown__option_active">Option one</div>
          <div class="dropdown__option">Option two</div>
          <div class="dropdown__option">Option three</div>
          <div class="dropdown__option">Option four</div>
        </div>
      </div>
    </div>

    <div class="search__room-form">
      <p class="search__form-label">Кол-во комнат</p>
      <button class="search__room-quantity-button">1</button>
      <button class="search__room-quantity-button">2</button>
      <button class="search__room-quantity-button">3</button>
      <button class="search__room-quantity-button">4</button>
      <button class="search__room-quantity-button">5</button>
    </div>

    <div class="search__submit-button button button_secondary">
      Перейти к поиску
    </div>
  </div>
</div>